<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KassaApplicatieBTULIP.Properties.Settings.dbBTULIPConnectionString"
            connectionString="Data Source=DESKTOP-ISD2V9G\SQLEXPRESS;Initial Catalog=dbBTULIP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>